@page
@model SchoolWebApp.Pages.Class.IndexModel
@{
}


@{
    ViewData["Title"] = "List of Classes";
}

@section VendorStyles
{
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
    <link href="~/vendor/libs/select2/select2.dist.css" rel="stylesheet" />


}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>

}
@section PageScripts
{
@*  <script src="~/js/forms-selects.dist.js"></script> *@
    <script src="~/code_js/manageclass.js"></script>

}


<div class="card">
    <div class="card-datatable table-responsive">
        <div class="container-fluid">
            <h3 class="mb-4">Manage Classes</h3>
         <form id="filterForm">
            <!-- Filter Section -->
                <div class="row mb-4">
                
                <!-- Institution Dropdown -->
                <div class="col-md-3">
                    <div class="form-floating form-floating-outline">
                            <select name="InstitutionID" id="InstitutionID" onchange="loadCampuses(this.value)" class="form-select">
                                @await Component.InvokeAsync("Master", new { viewname = "Institutions" })
                        </select>
                        <label for="InstitutionID">Institution</label>
                    </div>
                </div>
                    <!-- Campus Dropdown -->
                    <div class="col-md-3">
                        <div class="form-floating form-floating-outline">
                            <select name="CampusID" id="CampusID" class="form-select">

                              
                            </select>
                            <label for="CampusID">Campus</label>
                        </div>
                    </div>
                 <!-- Class Board Dropdown -->
                <div class="col-md-3">
                    <div class="form-floating form-floating-outline">
                        <select name="BoardID" id="BoardID" class="form-select">
                           
                            @await Component.InvokeAsync("Master", new { viewname = "Boards" })
                        </select>
                        <label for="BoardFilterID">Board ID</label>
                    </div>
                </div> 

                <!-- Get Button -->
                <div class="col-md-2 d-flex align-items-center">
                        <button type="submit" class="btn btn-primary w-75">Get</button>
                </div>
            </div>
        </form>
            
       </div>
        <div id="FilterTable"></div>
      
   
    <!-- Create Class Partial Page -->
    @await Html.PartialAsync("~/Pages/Class/_Create.cshtml") 
    </div>
</div>
