  @using SchoolWebApp.Models
@{
    var selectedID = ViewBag.BrdSelectedIds as IEnumerable<int> ?? new List<int>();
    var boardingTypes = ViewBag.Items as List<BoardingTypes>; // Use dynamic to handle anonymous type}
}


@foreach (var item in boardingTypes ?? new List<BoardingTypes>())
{
    var isSelected = selectedID.Contains(item.BoardingTypeID);

    <option value="@item.BoardingTypeID" @(isSelected ? "selected=\"selected\"" : "")>@item.BoardingType</option>

}



