@using SchoolWebApp.Models;
@{
    var selectedID = ViewBag.selectedIDs;
    var boards = ViewBag.Boards as List<Board>;
}
@foreach (var b in boards)
{
    <option value="@b.BoardID" selected="@(b.BoardID == selectedID)">@b.BoardName</option>
}
