@model SchoolWebApp.Pages.Campus.IndexModel
@{
    ViewData["Title"] = "Campus Management";
}

<!-- Create Campus Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="createCampusOffcanvas" aria-labelledby="createCampusOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="createCampusOffcanvasLabel">Add Campus Details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <form id="createCampusForm" method="post" enctype="multipart/form-data">
            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.InstitutionID" id="InstitutionID" class="form-control" onchange="loadZones(this.value)">
                    @await Component.InvokeAsync("Master", new { viewname = "Institutions" })
                </select>
                <label for="InstitutionID">Institution</label>
                
            </div>
            <input type="hidden" name="Campus.CGUID" value="placeholder" />
            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.ZoneID" id="ZoneID" class="form-control">
                </select>
                <label for="ZoneID">Zone</label>
               
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input name="Campus.CampuseName" autocomplete="off" class="form-control" id="CampuseName" placeholder="Campus Name" />
                <label for="CampuseName">Campus Name</label>
               
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input name="Campus.AffiliationNo" autocomplete="off" class="form-control" id="AffiliationNo" placeholder="Affiliation No" />
                <label for="AffiliationNo">Affiliation No</label>
                
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input name="Campus.SchoolCode" autocomplete="off" class="form-control" id="SchoolCode" placeholder="School Code" />
                <label for="SchoolCode">School Code</label>
                
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.CampusTypeID" id="CampusTypeID" class="form-control">
                    @await Component.InvokeAsync("Master", new { viewname = "CampusTypes" })
                </select>
                <label for="CampusTypeID">Campus Type</label>
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input  type="text" name="Campus.PhoneNos" autocomplete="off" class="form-control" id="PhoneNos" placeholder="Phone Numbers" />
                <label for="PhoneNos">Phone Numbers</label>
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <textarea name="Campus.Address" class="form-control" style="height: 100px;" id="Address" placeholder="Address"></textarea>
                <label for="Address">Address</label>
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input name="Campus.Locality" autocomplete="off" class="form-control" id="Locality" placeholder="Locality" />
                <label for="Locality">Locality</label>
                <span class="text-danger" data-fv-for="Campus.Locality"></span>
            </div>
            <!-- CountryID Dropdown -->
            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.CountryID" id="CountryID" class="form-control" onchange="loadStates(this.value)">
                   
                    @await Component.InvokeAsync("Master", new { viewname = "Countries" })
                </select>
                <label for="CountryID">Country</label>
            </div>

            <!-- StateID Dropdown -->
            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.StateID" id="StateID" class="form-control" onchange=" loadCities(this.value)">
                  
                </select>
                <label for="StateID">State</label>
            </div>

            <!-- CityID Dropdown -->
            <div class="form-floating form-floating-outline mb-5">
                <select name="Campus.CityID" id="CityID" class="form-control">
                   
                </select>
                <label for="CityID">City</label>
            </div>

            <div class="form-floating form-floating-outline mb-5">
                <input name="Campus.PinCode" autocomplete="off" class="form-control" id="PinCode" placeholder="Pin Code" />
                <label for="PinCode">Pin Code</label>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary me-3">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>