@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model SchoolWebApp.Pages.Campus.IndexModel
@{
}


@{
    ViewData["Title"] = "List of Campus";
}

@section VendorStyles
{
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
    <link href="~/vendor/libs/select2/select2.dist.css" rel="stylesheet" />
        

}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
}
@section PageScripts
{
   @*  <script src="~/js/forms-selects.dist.js"></script> *@
    <script src="~/code_js/managecampus.js"></script>
}

    <div class="card">
    <div class="card-datatable table-responsive">

        <div class="container-fluid">
            <h3 class="mb-4">Manage Campus</h3>
      
    <div class="row mb-4" >
        <!-- Institution Dropdown -->
        <div class="col-md-4">
            <div class="form-floating form-floating-outline">
                        <select name="CampusVM.Campus.InstitutionID" id="InstitutionFilterID" onchange="loadZones(this.value, null, 'ZoneFilterID')" class="form-select">
                    @await Component.InvokeAsync("Master", new { viewname = "Institutions" })
                </select>
                <label for="InstitutionID">Institution</label>
            </div>
        </div>

        <!-- Zone Dropdown -->
        <div class="col-md-4">
            <div class="form-floating form-floating-outline">
                        <select name="CampusVM.Campus.ZoneID" id="ZoneFilterID" class="form-select" >
                   
                </select>
                <label for="ZoneID">Zone</label>
            </div>
        </div>

        <!-- Get Button -->
                <div class="col-md-2 d-flex align-items-center">
                    <button id="filterButton" type="button" class="btn btn-primary w-75" onclick="filterCampuses()">Get</button>
        </div>
    </div>
            <table id="CampusTable" class="table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Campus Name</th>
                        <th>Zone</th>
                        <th>Institution</th>
                        <th>Affiliation No</th>
                        <th>School Code</th>
                        <th>Campus Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @await Html.PartialAsync("_CampusTablePartial", Model.Campuses)
            
                </tbody>
            </table>
        </div>
    </div>

<!-- Create Campus Partial Page -->
@await Html.PartialAsync("~/Pages/Campus/_Create.cshtml")

</div>