@{
    TempData.Keep();
    string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-page="/Index" class="app-brand-link">
            @*  <span class="app-brand-logo demo me-1">@await Html.PartialAsync("../_Partials/_Macros")</span> *@
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">


        <!-- Institution List -->
        <li class='menu-item@(currentPage == "/Institution/Index" ? " active" : "")'>
            <a asp-page="/Institution/Index" class="menu-link">
                <i class="menu-icon tf-icons ri-database-2-line"></i>
                <div data-i18n="Manage Institution"> Manage Institution </div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Zone/Index" ? " active" : "")'>
            <a asp-page="/Zone/Index" class="menu-link">
                <i class="menu-icon tf-icons ri-map-pin-line"></i>
                <div data-i18n="Manage Zones"> Manage Zones </div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Campus/Index" ? " active" : "")'>
            <a asp-page="/Campus/Index" class="menu-link">
                <i class="menu-icon tf-icons ri-school-line"></i>
                <div data-i18n="Manage Campus"> Manage Campus </div>
            </a>
        </li>
      
        <li class='menu-item@(currentPage == "/Class/Index" ? " active" : "")'>
            <a asp-page="/Class/Index" class="menu-link">
                <i class="menu-icon tf-icons ri-school-line"></i>
                <div data-i18n="Manage Class"> Manage Classes</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/ClassRoom/Index" ? " active" : "")'>
            <a asp-page="/ClassRoom/Index" class="menu-link">
                <i class="menu-icon tf-icons ri-school-line"></i>
                <div data-i18n="Manage ClassRoom"> Manage Class Room</div>
            </a>
        </li>
      
    </ul>

</aside>
<!-- / Menu -->
