@model SchoolWebApp.Pages.Zone.IndexModel
<div class="offcanvas offcanvas-end" tabindex="-1" id="createZoneOffcanvas" aria-labelledby="createZoneOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="createZoneOffcanvasLabel">Add Zone</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <form id="createZoneForm" method="post" enctype="multipart/form-data" >
@*              @Html.AntiForgeryToken() 
            <input type="hidden" asp-for="Zone.ZGUID" />
            <input type="hidden" asp-for="Zone.CreatedDate" />
            <input type="hidden" asp-for="Zone.Status" value="1" />
 *@            <div class="form-floating form-floating-outline mb-5">
                <select name="Zone.InstitutionID" id="InstitutionID" class="form-control">
                    <option value="">Select Institution</option>
                    @foreach (var institution in Model.Institutions)
                    {
                        <option value="@institution.InstitutionID">@institution.InstitutionName</option>
                    }
                </select>
                <label for="InstitutionID">Institution</label>
                <span class="text-danger"></span>
            </div>           
            <div class="form-floating form-floating-outline mb-5">
                <input type="text" name="Zone.ZoneName" id="ZoneName" class="form-control" />
                <label for="ZoneName">Zone Name</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-5">
                <input type="text" name="Zone.ShortCode" id="ShortCode" class="form-control" />
                <label for="ShortCode">Short Code</label>
                <span class="text-danger"></span>
            </div>            
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary me-3" id="submitZoneBtn">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>