@page
@using SchoolWebApp
@model SchoolWebApp.Pages.Zone.IndexModel
@{
    ViewData["Title"] = "Zone Management";
}
@section VendorStyles
{
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@section VendorScripts
{
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}
@section PageScripts {
    <script src="~/code_js/zone-crud.js"></script>
}

<!-- DataTable -->
<div class="card">
    <div class="card-datatable table-responsive">

        <div class="container-fluid">
            <h2 class="mb-4">Zone Management</h2>
                <form id="filterZoneForm">
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                        <select name="InstitutionID" id="InstitutionID" class="form-select">
                            @await Component.InvokeAsync("Master", new { viewname = "Institutions" })
                        </select>
                        <label for="InstitutionID">Institution</label>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                        <button type="submit" class="btn btn-primary w-75">Get</button>
                </div>
            </div>
            </form>
        </div>
        <div id="FilterZoneTable">
        </div>
    </div>

    <!-- Create Offcanvas -->
    @await Html.PartialAsync("~/Pages/Zone/_Create.cshtml")

</div>